html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    /*background: #f2f2f2;*/
    /*background: #999999;*/
/*    background-image: url('woodbg.png');
    background-repeat: repeat;
    background-attachment: fixed; */
    color: #323232;
}

.main-animate-opacity {
	animation: opac 1.5s
}@keyframes opac { from { opacity: 0 } to { opacity: 1 } }


img {
    max-width: 100%;
    /*max-width: 180px;*/
}

/*.icon {*/
/*    fill: currentColor;*/
/*    display:inline-block;*/
/*    font-size: inherit;*/
/*    height: 1em;*/
/*    overflow: visible;*/
/*}*/

a {
    color: #323232;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*h1 {*/
/*    color: #0000ff;*/
/*}*/

.mainContainer {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgrey;
}

section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
}

/***********************************
* =Main Info
***********************************/
img.avatar {
    width: 130px;
    /*width: 180px;*/
    /*border: 5px solid white;*/
    border-radius: 65px;
}

.my-name {
    font-size: 48px;
    line-height: 1;
}

.my-title {
    font-size: 24px;
    font-weight: 300;
    color: #236fb2;
}

.links {
    display:flex;
    margin: 10px 0 20px 0;
    justify-content: space-evenly;
}

.link-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.link-item i {
    margin-right: 6px;
}

/***********************************
* =Experience
***********************************/
.job {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgrey;
}

.job:last-child {
    border-bottom: none;
}

.job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}

.job-company {
    font-weight: bold;
    line-height: 1.2;
}

/***********************************
* =Skills
***********************************/
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 24px;
}

.skills-container ul {
    margin-left: 20px;
    list-style-type: disc;
}

/***********************************
* =Interests
***********************************/
.interests-container {
    display: flex;
    justify-content: space-between;
}

.interests-container i {
    /*height: 35px;*/
    font-size: 2em;
    opacity: 0.75;
}

/***********************************
* =References
***********************************/
.reference {
    font-size: 18px;
}

.reference-details {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
    }
    
    .links, .job-title-container {
        flex-direction: column;
    }
    
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .interests-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .interests-container i {
        margin-right: 32px;
        margin-bottom: 16px;
    }
}


footer {
    padding: 10px;
    align: center;
    text-align: center;
}
footer .footer-bottom {
    padding: 50px;
    /*color: #000099;*/
    font-size: .75rem;
}
